@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Irene Florentina";
	src: url("./fonts/IreneFlorentina-Regular.woff2") format("woff2"),
		url("./fonts/IreneFlorentina-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer base {
	div {
		@apply font-lexend font-light
      text-secondary
      dark:text-lightPurple
	  max-sm:text-xs text-sm md:text-base lg:text-lg
	    dark:shadow-primary/30  dark:bg-opacity-0;
	}

	h2 {
		@apply font-calistoga text-secondary max-sm:text-xl text-2xl leading-loose transition-transform md:text-3xl lg:text-4xl xl:text-5xl
		dark:text-lightPurple;
	}
}

@layer components {
	.box {
		@apply w-full h-fit  bg-mywhite shadow-secondary  m-auto rounded-md p-2 md:p-4 text-left shadow-sm xl:p-5
	 dark:bg-secondary dark:shadow-primary dark:bg-opacity-40;
	}

	.titlebox {
		@apply size-full  shadow-secondary  rounded-md  shadow-sm;
	}

	.clearBox {
		@apply container   shadow-secondary m-auto rounded-lg  p-4 text-left shadow-sm xl:p-5;
	}

	.body {
		@apply relative flex flex-col justify-evenly w-full pr-2 px-2 pb-2 mb-2 bottom-1 -z-0  rounded-md mt-24 p-3  mx-2 
       
        
        xl:left-40 xl:transform xl:-translate-y-1 xl:top-7 xl:bottom-5 xl:right-7
        
         dark:bg-secondary dark:shadow-primary dark:bg-opacity-40;
	}

	.main {
		@apply overflow-y-auto scroll-smooth fixed top-10 left-10 right-10 bottom-10 items-center text-pretty p-2 px-2 max-xl:mt-24 m-2 xl:p-8 
		
		dark:bg-secondary dark:shadow-primary dark:bg-opacity-40;
	}

	.outerHomeLg {
		@apply relative  p-2  m-6 ml-8
		
;
	}

	.innerHomeLg {
		@apply static  size-full p-4;
	}

	/* -------- */
	.outerHomeSm {
		@apply relative p-0.5  m-1 mt-24
;
	}

	.innerHomeSm {
		@apply static size-full p-3 max-sm:p-2 max-sm:py-3
		 ;
	}
	/* -------- */

	.homepageBox {
		@apply container w-full h-fit  bg-mywhite shadow-secondary m-auto rounded-md   p-2 md:p-4 text-left shadow-sm xl:p-5
		dark:shadow-sm dark:shadow-primary/30 dark:bg-darkPrimary dark:bg-opacity-85;
	}

	.homepageButton {
		@apply container mx-auto m-auto rounded-xl p-1
		max-sm:text-lg text-xl md:text-2xl lg:text-3xl  
		hover:bg-mywhite hover:shadow-secondary hover:shadow-md hover:ring-primary/80 hover:ring-4
		dark:hover:bg-darkPrimary dark:hover:shadow-primary/30 dark:hover:shadow-sm
		active:shadow-secondary/70 active:shadow-inner  
		dark:active:shadow-inner dark:active:shadow-primary/50 ;
	}

	.clearPage {
		@apply relative m-auto flex-col content-center items-center justify-items-center rounded-lg  shadow-secondary p-4 text-left shadow-sm xl:p-2;
	}

	.page {
		@apply bg-mywhite relative m-auto flex-col content-center items-center justify-items-center rounded-lg  shadow-secondary p-4 text-left shadow-sm xl:p-2;
	}

	.listbox {
		@apply border-lightGrey/30 shadow-secondary/20 rounded-lg border-e border-s  p-2 shadow-xl;
	}

	.titlebox {
		@apply font-calistoga flex flex-grow place-items-center justify-evenly p-2 px-1 text-center text-sm max-xl:text-base xl:text-xl;
	}

	.mainscreen {
		@apply flex bg-glasses bg-blend-darken bg-primary h-screen w-screen overflow-auto 

        dark:bg-darkPrimary dark:bg-blend-multiply;
	}

	.sidebar {
		@apply fixed flex border-solid border-primary border-2 rounded-md shadow-sm z-50 top-1 right-1 left-1 justify-evenly w-auto pt-2 pb-2 
        bg-mywhite shadow-secondary transform transition-transform duration-300 

     xl:bottom-auto xl:left-2 xl:right-auto xl:top-2/4 xl:mx-auto xl:min-w-fit xl:-translate-x-[90%] xl:-translate-y-2/4 xl:transform 
        xl:flex-col xl:gap-5

		xl:p-3
        
        xl:pb-5 xl:pt-5 xl:hover:translate-x-0
        dark:bg-secondary dark:border-primary dark:shadow-primary/50 ;
	}

	.sidebar-icon {
		@apply box-border relative flex items-center justify-center min-w-max z-10 p-2 h-max w-max
        border-mywhite border rounded-xl border-solid

        hover:border-secondary/50 hover:shadow-darkPrimary hover:rounded-lg hover:shadow-sm 
        transition-all duration-200 ease-linear cursor-pointer

        xl:m-1
        active:shadow-inner active:shadow-secondary dark:active:shadow-primary/50
        dark:border-secondary dark:hover:border-primary/50  dark:hover:shadow-primary/50 
		;
	}

	.sidebar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-sm z-10 origin-bottom-right top-14
        bg-lightPurple shadow-secondary/50
        transition-all duration-100 scale-0 
        
        xl:origin-left xl:left-14 xl:top-auto
        
        dark:border-secondary dark:bg-darkPrimary dark:shadow-primary/50 dark:shadow-sm dark:font-light;
	}

	.mygrid {
		@apply grid relative font-spectral bg-mywhite shadow-sm shadow-secondary rounded-md 
        mt-24 p-3 w-auto -z-0 mx-2 
        
        xl:ml-60 xl:transform xl:-translate-y-1 xl:mt-7 xl:p-6 xl:px-8 xl:mr-48
        
      dark:border-secondary dark:bg-secondary dark:shadow-primary/50 dark:bg-opacity-80 dark:gap-1;
	}

	.gridbox {
		@apply relative z-0 transform transition-all
        text-sm font-extralight p-2 m-1  font-spectral
        
        xl:text-lg xl:pl-3 xl:p-2 xl:m-0 xl:text-left
        
         dark:shadow-primary/30 dark:border-none;
	}

	.gridbox-header {
		@apply order-1 mb-2 text-lg border-0 font-normal font-spectral
        xl:text-4xl p-2 xl:mb-3
        dark:shadow-none;
	}

	.gridbox-info {
		@apply m-1 col-span-4 text-center text-base font-light font-spectral bg-lightPurple rounded-md shadow-darkPrimary/50 shadow-sm
        xl:col-span-2 xl:text-xl xl:p-4 xl:py-2.5
        max-xl:text-nowrap max-xl:min-w-fit max-xl:px-3
        dark:shadow-sm dark:shadow-primary/30 dark:bg-darkPrimary dark:bg-opacity-60;
	}

	.gridbox-title {
		@apply text-xl text-center m-0.5 justify-evenly font-normal font-spectral bg-lightPurple rounded-md shadow-secondary/70 shadow-sm p-3 py-2 
        xl:text-xl/tight xl:m-1 xl:text-left xl:h-fit xl:p-4 xl:py-2.5 max-xl:font-light
        dark:shadow-sm dark:shadow-primary/30 dark:bg-darkPrimary dark:bg-opacity-60;
	}

	.gridbox-subtitle {
		@apply text-lg font-light font-spectral text-center rounded-md bg-lightGrey shadow-secondary/30 shadow-sm p-2 m-1 mx-3
        dark:shadow-sm dark:shadow-primary/30 dark:bg-darkPrimary dark:bg-opacity-20;
	}

	.mybox {
		@apply relative flex container m-auto h-auto w-auto p-2
         bg-mywhite rounded-md shadow-sm shadow-secondary;
	}

	.form_input {
		@apply relative flex flex-col w-screen gap-3 rounded-md shadow-sm mt-24 ml-1 mr-1 p-3 -z-0;
	}

	.input-story-info {
		@apply relative flex flex-col-reverse w-auto
       xl:ml-44;
	}

	.story-input {
		@apply p-3 text-base font-extralight rounded-lg border bg-mywhite appearance-none 
        focus:shadow-darkPrimary focus:shadow-sm focus:outline-none focus:ring-0 focus:text-secondary transition-all duration-300;
	}

	.story-label {
		@apply absolute top-0 items-center px-3 pt-2  bg-transparent;
	}

	.mybutton {
		@apply bg-lightPurple  text-mywhite font-bold py-2 px-4 rounded
        xl:ml-44;
	}

	.swiperwrapper {
		@apply fixed flex right-2 left-2 justify-evenly w-auto h-auto px-2 pb-2 top-24 bottom-1 bg-mywhite -z-0 shadow-sm shadow-secondary rounded-md
       
        
         xl:transform xl:-translate-y-1 xl:top-7 xl:bottom-5 xl:right-7 xl:left-9
        
        dark:border-secondary dark:bg-secondary dark:shadow-primary dark:bg-opacity-40;
	}

	.myswiper {
		@apply fixed flex top-1 right-1 left-1 justify-evenly w-auto h-full bg-mywhite rounded-md px-2 
        dark:bg-transparent;
	}

	.swiperslide {
		@apply fixed flex overflow-y-auto top-1 right-1 left-1  w-auto mx-3 px-2 max-h-full rounded-md my-2 py-7 mb-7 pb-10 flex-col justify-start justify-items-center items-center text-center  
        
        xl:mx-12 xl:px-7

        dark:bg-transparent;
	}

	.slideTitle {
		@apply self-center text-xl text-bardBlack p-3 pt-4
        xl:text-7xl xl:p-8
        dark:text-mywhite;
	}

	.slideBody {
		@apply leading-normal p-5 mt-3 text-base bg-mywhite text-bardBlack
        xl:text-xl
        dark:border-secondary dark:bg-secondary dark:shadow-primary dark:bg-opacity-70 dark:text-mywhite;
	}

	.frameBorder {
		@apply p-3 max-sm:p-1 bg-primary rounded-md;
	}

	.appbox {
		@apply font-solway bg-mywhite/95 rounded-3xl border-4 border-[#8EB21D] outline outline-[#587C1C]/30 p-3 py-5 shadow-[#03484F] shadow-xl ;
	}
}

.blackHeader {
	color: theme("colors.myblack");
	text-shadow: -0.5px 0 theme("colors.mywhite"), 0 0.5px theme("colors.mywhite"),
		0.5px 0 theme("colors.mywhite"), 0 -0.5px theme("colors.mywhite");
}

.whiteHeader {
	color: theme("colors.mywhite");
	text-shadow: -0.5px 0 theme("colors.myblack"), 0 0.5px theme("colors.myblack"),
		0.5px 0 theme("colors.myblack"), 0 -0.5px theme("colors.myblack");
}

.embossed {
	color: theme("colors.lightGrey");
	text-shadow: 1px -1px theme("colors.darkPrimary");
}

.text-metal {
	background: repeating-radial-gradient(
		ellipse at center,
		#fafdff,
		#cad2da 20%,
		#9ca7b2 70%,
		#7e8790 80%
	);
	-webkit-background-clip: text;
	background-clip: text; /* Standard property */
	-webkit-text-fill-color: transparent;
	color: #9ca7b2; /* Fallback color for browsers that do not support background-clip */
}

.text-gradient {
	position: static;
	background: repeating-radial-gradient(
		ellipse at center,
		#fafdff,
		#cad2da 20%,
		#9ca7b2 70%,
		#7e8790 80%
	);
	/* border-image: repeating-radial-gradient(ellipse at center, #FAFDFF, #CAD2DA 20%, #9CA7B2 70%, #7E8790 80%); */
	top: 0.5px; /* Adjust these values to control the border width */
	left: 0.5px;
	right: 0.5px;
	bottom: 0.5px;

	-webkit-background-clip: text;
	background-clip: text; /* Standard property */
	-webkit-text-fill-color: transparent;
	color: #9ca7b2; /* Fallback color for browsers that do not support background-clip */
}

/* @media (min-width: 768px) {
    .md\:shadow-inner {
        --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
        --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
} */
